.main-header{
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid #6B4F4F;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.nav-logo{
    margin: 0;
    width: 20%;

}

.nav-logo > img {
    height: 120%;

}

.navigation-bar{

    height: 15vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar >div {
    font-size: 1.5em;
    color: #6B4F4F;
    margin: 0.3em;
}

.navigation-bar > div> p {
    margin: 0.2em;
    color: #6B4F4F;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #6B4F4F;

}

.search, .browse, .list, .settings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-button:visited{
    margin: 0.2em;
    color: #6B4F4F;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #6B4F4F;
    text-underline: none;
}