
body{

    margin: 0;
    
}

/* START OF LOGIN PAGE STYLE */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #FFF3E4 0%, #6B4F4F 100%) 0% 0% no-repeat padding-box;
    
}
.login-container{
    width: 30%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 75px;
}

button{
    background: transparent linear-gradient(180deg, #483434 0%, #6B4F4F 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 27px;
    opacity: 1;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input{

    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
}

@media only screen and (max-device-width: 420px){
    * {
        font-size: 36px;
    }

    .login-container{
        width: 80%;
    }
    form{
            margin: auto;
    }
    img{
        height: 15em;
        margin: 2em;
    }
}
/* END OF LOGIN PAGE STYLE */

/* START OF DASHBOARD PAGE STYLE */

.base-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*  START OF HEADER */
.main-header{
    height: 15vh;
    width: 100vw;
    border-bottom: 1px solid #6B4F4F;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.nav-logo{
    margin: 0;

}

.nav-logo > img {
    height: 120%;

}

.navigation-bar{

    height: 15vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar >div {
    font-size: 1.5em;
    color: #6B4F4F;
    margin: 0.3em;
}

.navigation-bar > div> p {
    margin: 0.2em;
    color: #6B4F4F;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #6B4F4F;

}

.search, .browse, .list, .settings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*  END OF HEADER */


/*  START OF MAIN CONTENT */
/*  END OF MAIN CONTENT */

/* END OF DASHBOARD PAGE STYLE */